[tool.poetry]
name = "monarch-py"
version = "0.1.0"
description = "Monarch Initiative data access library"
authors = [
    "Kevin Schaper <kevin@tislab.org>",
    "Glass Elsarboukh <glass@tislab.org>",
    "The Monarch Initiative <info@monarchinitiative.org>"
]

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.28.1"
pydantic = "^1.9.1"

[tool.poetry.dev-dependencies]
black = "^22.6.0"
pytest = "^7.1.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
